//== Forms
//
//##

//** `<input>` background color
$input-bg:                       #fff;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter;

//** Text color for `<input>`s
$input-color:                    $gray;
//** `<input>` border color
$input-border:                    #eaeaea;
//** `<input>` border radius
$input-border-radius:            0;
//** Border color for inputs on focus
$input-border-focus:             lighten($text-color, 60%); //#66afe9;

//** Placeholder text color
$input-color-placeholder:        #656168;

//** Default `.form-control` height
$input-height-base:              40px;//($line-height-computed + ($padding-base-vertical * 2) + 2);
//** Large `.form-control` height
// $input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
// //** Small `.form-control` height
// $input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

$legend-color:                   $gray-dark;
$legend-border-color:            #e5e5e5;
$input-padding-base-vertical: 	6px;
$input-padding-base-horizontal: 18px;
$input-font-size:				14px;
//** Background color for textual input addons
$input-group-addon-bg:           $gray-lighter;
//** Border color for textual input addons
$input-group-addon-border-color: $input-border;
$input-placeholder-color: #656168;
$input-placeholder-transform: uppercase;
$input-placeholder-size: 14px;

// $placeholder-content: {
//   	color: $input-placeholder-color;//#656168;
//  	text-transform: $input-placeholder-transform;//uppercase;
//  	font-size: $input-placeholder-size;//12px;
// };

$form: (
	input: (
		bg: #fff,
		color: $gray,
		border: transparent,
		border-radius: 0px,
		border-focus: #424242,
		height: 40px,
		font-size: 14px,
		padding: 10px 15px,
	),
	legend: (
		color: $gray-dark,
		border-color: #e5e5e5,
	),
	placeholder: (
		color: #656168,
		//transform: uppercase,
		font-size: 14px,
		line-height: 24px,
	),
	disabled: (
		bg: $gray-lighter,
	),

);
