$icon: (
	logo: (
		background-position:-1px -1px,
		width: 91px,
		height: 29px,
	),
	user: (
		background-position: -1px -54px,
		width: 40px,
		height: 40px,
	),
	details: (
		background-position: -51px -57px,
		width: 20px,
		height: 20px,
	)
);