<div class="login-wrap" ng-controller="changepasswordController">
  <div class="container login-box">
    <div class="row">
      <!-- <div class="login-logo">
        <a href="#"><img class="logo-img" src="/assets/imgs/Oilbird-logo-big.png"></a>
      </div> -->
      <div class="Absolute-Center is-Responsive login-box-body">
        <a class="pull-left" ng-click="goback()" style="cursor:pointer"> Back</a>
        <p class="innerAll margin-none border-bottom text-center login-box-msg">
        &nbsp;Change Password</p>

        <div class="">
          <form>
            <div class="form-group has-feedback">
              <input class="form-control" ng-model="oldpass" placeholder="Current Password" type="password" required>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input class="form-control" ng-model="newpass" placeholder="New Password" type="password" required>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input class="form-control" ng-model="confirm_password" placeholder="Confirm Password" type="password" required>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <button class="btn btn-primary btn-block btn-flat" d="password_modal_save" ng-click="changepassword()">Save changes</button>
              </div>
            </div>
            <div class="alert alert-warning" ng-show="numberval">
               <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
               <strong>Warning!</strong>  Password must contain at least one number (0-9)!
            </div>
            <div class="alert alert-warning" ng-show="lengthval">
               <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
               <strong>Warning!</strong>  Password must contain at least eight characters!
            </div>
            <div class="alert alert-warning" ng-show="oldnew">
               <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
               <strong>Warning!</strong>  Password must be different from Username!
            </div>
            <div class="alert alert-warning" ng-show="uppercase">
               <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
               <strong>Warning!</strong>  Password must contain at least one uppercase letter (A-Z)!
            </div>
            <div ng-show="showsuccess">
              <div class="alert alert-success"><strong>Success ! Password changed</strong></div>
            </div>
            <!-- <div class="loginlink"><a ui-sref="login">Login</a></div> -->
          </form>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
