<div id="fountainG" style="position: absolute;top: 50%;left: 50%;">
	<div id="fountainG_1" class="fountainG"></div>
	<div id="fountainG_2" class="fountainG"></div>
	<div id="fountainG_3" class="fountainG"></div>
	<div id="fountainG_4" class="fountainG"></div>
	<div id="fountainG_5" class="fountainG"></div>
	<div id="fountainG_6" class="fountainG"></div>
	<div id="fountainG_7" class="fountainG"></div>
	<div id="fountainG_8" class="fountainG"></div>
</div>

<style>

#fountainG{
	position:relative;
	width:150px;
	height:18px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:#0066B3;
	width:18px;
	height:18px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:2.86s;
		-o-animation-duration:2.86s;
		-ms-animation-duration:2.86s;
		-webkit-animation-duration:2.86s;
		-moz-animation-duration:2.86s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:12px;
		-o-border-radius:12px;
		-ms-border-radius:12px;
		-webkit-border-radius:12px;
		-moz-border-radius:12px;
}

#fountainG_1{
	left:0;
	animation-delay:1.14s;
		-o-animation-delay:1.14s;
		-ms-animation-delay:1.14s;
		-webkit-animation-delay:1.14s;
		-moz-animation-delay:1.14s;
}

#fountainG_2{
	left:19px;
	animation-delay:1.43s;
		-o-animation-delay:1.43s;
		-ms-animation-delay:1.43s;
		-webkit-animation-delay:1.43s;
		-moz-animation-delay:1.43s;
}

#fountainG_3{
	left:37px;
	animation-delay:1.72s;
		-o-animation-delay:1.72s;
		-ms-animation-delay:1.72s;
		-webkit-animation-delay:1.72s;
		-moz-animation-delay:1.72s;
}

#fountainG_4{
	left:56px;
	animation-delay:2s;
		-o-animation-delay:2s;
		-ms-animation-delay:2s;
		-webkit-animation-delay:2s;
		-moz-animation-delay:2s;
}

#fountainG_5{
	left:75px;
	animation-delay:2.29s;
		-o-animation-delay:2.29s;
		-ms-animation-delay:2.29s;
		-webkit-animation-delay:2.29s;
		-moz-animation-delay:2.29s;
}

#fountainG_6{
	left:94px;
	animation-delay:2.57s;
		-o-animation-delay:2.57s;
		-ms-animation-delay:2.57s;
		-webkit-animation-delay:2.57s;
		-moz-animation-delay:2.57s;
}

#fountainG_7{
	left:112px;
	animation-delay:2.86s;
		-o-animation-delay:2.86s;
		-ms-animation-delay:2.86s;
		-webkit-animation-delay:2.86s;
		-moz-animation-delay:2.86s;
}

#fountainG_8{
	left:131px;
	animation-delay:3.15s;
		-o-animation-delay:3.15s;
		-ms-animation-delay:3.15s;
		-webkit-animation-delay:3.15s;
		-moz-animation-delay:3.15s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgba(37,62,222,0.93);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgba(37,62,222,0.93);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgba(37,62,222,0.93);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgba(37,62,222,0.93);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgba(37,62,222,0.93);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

</style>
